<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <iframe style="width: 90%; height: 90%"
            src="https://docs.google.com/gview?embedded=true&url=https://dry-refuge-92990.herokuapp.com/pustoy-fayl-pdf-5-5d1eee323ff31-5d43c64a48619.pdf"></iframe>
    <!--        <iframe style="width: 90%; height: 90%" src="https://docs.google.com/gview?embedded=true&url=https://192.168.1.6/{{fileName}}"></iframe>-->
</div>
</body>
</html>