<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
        <iframe style="width: 100%; border: none;"
                src="https://docs.google.com/gview?embedded=true&url=https://dry-refuge-92990.herokuapp.com/{{fileName}}"></iframe>
    {{fileName}}
<!--    <iframe src="https://docs.google.com/gview?embedded=true&url=http://localhost:8080/{{fileName}}"></iframe>-->
</div>
</body>
</html>