<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
<!--    <object data="http://192.168.1.6:8080/pustoy-fayl-pdf-5-5d1eee323ff31-5d43c64a48619.pdf" width="90%" height="150px">-->
<!--        alt: <a href="http://192.168.1.6:8080/pustoy-fayl-pdf-5-5d1eee323ff31-5d43c64a48619.pdf">Доп. услуги телефонки</a>-->
<!--    </object>-->
    <iframe style="width: 700px; height: 400px; border: none;"
            src="https://docs.google.com/gview?embedded=true&url=https://dry-refuge-92990.herokuapp.com/pustoy-fayl-pdf-5-5d1eee323ff31-5d43c64a48619.pdf"></iframe>
</div>
</body>
</html>